<% provide :title, t("static_pages.help") %>
<h1><%= t("static_pages.help") %></h1>
<p>
  <%= t("static_pages.title_help") %>
  <%= link_to t("static_pages.rails"), Settings.url.rails_tutorial %>
  <%= t("static_pages.content") %>
  <%= link_to t("static_pages.book_ruby"), Settings.url.rails_book %>
</p>
