<h1><%= t "mailer.password_reset" %></h1>
<p><%= t "mailer.reset_link" %></p>
<%= link_to t("mailer.password_reset"), edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
<p><%= t "mailer.link_expire" %></p>
<p><%= t "mailer.link_ignore" %></p>
