<% provide :title, @user.name %>
<div class="container">
  <div class="row">
    <div class="col-4">
      <p>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </p>
    </div>
    <div class="col-8 mt-3">
      <%= render "follow_form" if logged_in? %>
      <% if @user.microposts.any? %>
        <h1><%= t "micropost.micropost" %> (<%= @user.microposts.count %>)</h1>
        <ul class="list-group list-group-flush">
          <%= render @microposts %>
        </ul>
      <% end %>
      <div class="pagy mt-3">
        <%= paginate @microposts, theme: "twitter-bootstrap-4" %>
      </div>
    </div>
  </div><hr>
  <div class="row">
    <div class="col-12">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <%= link_to t("static_pages.about"), "#", class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to t("static_pages.contact"), "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t("static_pages.new"), "#", class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</div>
