<nav id="navbar-example2" class="navbar navbar-light bg-dark">
  <%= link_to t("static_pages.sample_app"), root_url, class: "text-light" %>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <%= link_to t("static_pages.home"), root_url, class: "nav-link text-light" %>
    </li>
    <li class="nav-item">
      <%= link_to t("static_pages.help"), help_path, class: "nav-link text-light" %>
    </li>
    <% if logged_in? %>
      <div class="dropdown">
        <%= link_to "#", class: "btn text-light dropdown-toggle", "data-toggle": "dropdown" do %>
          <%= t "static_pages.account" %>
        <% end %>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li>
            <%= link_to t("static_pages.all_users"), users_path, class: "dropdown-item" %>
          </li>
          <li>
            <%= link_to t("static_pages.profile"), current_user, class: "dropdown-item" %>
          </li>
          <li>
            <%= link_to t("static_pages.setting"), edit_user_path(current_user), class: "dropdown-item" %>
          </li>
          <li>
            <%= link_to t("auth.logout"), logout_path, method: :delete, class: "dropdown-item" %>
          </li>
        </div>
      </div>
    <% else %>
      <li class="nav-item">
        <%= link_to t("auth.login"), login_path, class: "nav-link text-light" %>
      </li>
    <% end %>
  </ul>
</nav>
